<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style_landingpage.css">
    <title>Job Fiction</title>
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-xl-7">
                <div class="row">
                    <h1 style="font-weight: bold;">Job Fiction</h1>
                </div>
                <div class="row key-sentence">
                    <h1>Your dream job and perfect employee, just a click away!</h1>
                </div>

                <div class="row card-row">
                    <div class="col">
                        <div class="card job-seeker-card">
                            <img class="job-seeker-img" src="/images/Job-seeker_lp.jpg" alt="job-seeker">
                            <div class="card-body">
                                <h4 class="card-title">For Job Seekers</h4>
                                <p class="card-text">Unlock Your Future Career by Exploring Diverse Opportunities
                                    Tailored to You.</p>
                                <a href="/login" class="btn btn-outline-primary">Find Jobs!</a>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card company-card">
                            <img class="comapny-img" src="/images/Company_lp.png" alt= "comapny">
                            <div class="card-body">
                                <h4 class="card-title">For Comapnies</h4>
                                <p class="card-text">Streamline and Optimize Your Company's Hiring Process for Greater
                                    Efficiency and Success.</p>
                                <a href="/companylogin" class="btn btn-outline-primary">Join Us! </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-xl-5 about-us">
                <h2>Mission and Vision</h3>
                    <p>
                        At Job Fiction, our mission is to empower job seekers and streamline the hiring process for
                        companies. We're committed to making the job search experience seamless, efficient, and
                        rewarding.
                        Our vision is to become the global leader in revolutionizing the recruitment process, fostering
                        a
                        world where everyone has access to their ideal job and every company finds its perfect match.
                        Job
                        Fiction's dedication to bridging the gap between talent and opportunity is at the heart of our
                        mission and vision, ensuring growth and success for both job seekers and businesses worldwide.
                    </p>
            </div>
        </div>
    </div>


    <footer class="footer-bottom-wrap">
        <p>2023©JobFiction. All rights reserved.</p>
    </footer>
    <script src="js/bootstrap.bundle.js"></script>
</body>

</html>