/* Import Font Dancing Script */
/* @import url(https://fonts.googleapis.com/css?family=Dancing+Script); */
@import url("https://fonts.googleapis.com/css?family=Nunito:200,300,400,700");

* {
    margin: 0;
    font-family:'icomoon';
}

body {
    /* background-color: #e7e7f1; */
    /* background-color: #4070f4; */
    background-color: #fff;
    min-height: 100vh;
    height: max-content;

    padding-bottom: 50px;
}

.uneditable{
    /* display: block;
    padding-left: 15px; */
    padding: 5px;
    background-color: #EEEEEE;
}
.input-container{
    width: fit-content;
}
/* personal */
/* .mult-select-tag .input-container {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;
    padding: 0.1rem;
}

.container{
    flex-direction: row;
}

.mult-select-tag .btn-container {
    color: #e2ebf0;
    padding: 0.5rem;
    display: flex;
    border-left: 1px solid var(--border-color);
} */
/* personal */
.submitbtn {
    text-align: center;
    margin-top: 8%;
}

.widgetHead {
    font-size: 20px;
    /* font-size: 16px; */
    color: #000;
    font-weight: 700;
}

.widgetCont {
    margin: 10px 0 15px 0px;
    /* --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1),0 1px 2px -1px rgb(0 0 0 / 0.1);
    --tw-shadow-color: 0 1px 3px 0 var(--tw-shadow-color),0 1px 2px -1px var(--tw-shadow-color);
    --border-color: rgb(218, 221, 224); */
}


.card {
    margin: 0.5rem 0 1rem;
    background-color: #fff;
    transition: box-shadow .25s;
    border-radius: 1px;
    font-size: 16px;
    /* font-size: 20px; */
    position: relative;
    /* color: #666; */
    line-height: 1.28;
    /* background-color: #e7e7f1; */
    width: 80%;
    /* padding-left: 8%;     */
    margin-left: 10%;
}

/* .card:hover{
    border: 3px solid #212529;
} */

.spandiff{
    padding: 7px 0 7px 0;
}

/* .sidenav:hover {
    transform: scale(1.04);
    transition: all 0.5s;
} */

.widgetTitle {
    color: #121224;
}

.sidenav-url{
    /* align-items: center; */
    margin: 0 10px;
}

#identity {
    text-align: center;
    margin-top: 12%;
    margin-bottom: 3%;
    /* font-size: 20px; */
    font-size: 16px;
}

.navbar {
    /* background-color: #fff; */
    background-color: #212529;
    height: 50px;
    padding: 0 90px;
    font-family: 'icomoon';
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 5;
    left: 0;
    right: 0;
    top: 0;
    /* box-shadow: 3px 5px 8px 0 grey; */
}


.otherpagelink {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    margin: 0 16px;
    color: #4070f4;
    border-radius: 25px;
    padding: 10px 13px;
}

.logo {
    font-weight: 900;
    margin-right: 50px;
}

.logout {
    border: 2px solid #4070f4;
}

.navbar-top ul {
    float: right;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 18px 50px 0 40px;
}

.navbar-top ul li {
    float: left;
}

.navbar-top ul li a {
    color: #333;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
}

.icon-count {
    background-color: #ff0000;
    color: #fff;
    float: right;
    font-size: 11px;
    left: -25px;
    padding: 2px;
    position: relative;
}

/* End */

/* Sidenav */

.sidenav {
    background-color: #fff;
    /* background-color: #212529; */
    color: #333;
    /* border-bottom-right-radius: 25px;
    border-top-right-radius: 25px; */
    border-radius: 25px;
    height: fit-content;
    margin-left: 4%;
    position: absolute;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    /* top: 7px; */
    width: 25%;
    margin-top: 30px;
    box-sizing: border-box;
    /* box-shadow: 3px 5px 8px 0 grey; */
    padding-bottom: 20px;
    border: 1px solid #DEE2E6;
}

#candidate_image {
    display: none;
}

#candidatephoto{
    color: #fff;
}

/* .profileinput{
    height: 100px;
    width: 150px;
    border-radius: 6px;
    border: 1px dashed #999;
} */

/* .profileinput:hover{
    color: #de0611;
    border: 1px dashed #de0611;
} */
.lastname {
    margin-left: 20%;
}

.candidategender {
    display: flex;
    gap: 5%;
    font-size: 18px;
}

.spancontrol {
    display: flex;
}

#submitbutton {
    background-color: #4070fa;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
    font-weight: 400;
}

#az{
    width: 100px ;
    height: 100px;
}

img{
    font-size: 13px;
}

.differentinput {
    /* border: none; */
    border-radius: 8px;
    padding-left: 15px;
    font-size: 18px;
    min-height: 2.25rem;
    width: 100%;
    /* min-width: 14rem; */
    border: 1px solid #DADDE0;
}

.profile {
    margin-top: 25px;
    margin-bottom: 10px;
    text-align: center;
    justify-content: center;
    display: flex;
}

.lowerprofile {
    text-align: center;
    justify-content: center;
    display: flex;
    margin-bottom: 30px;
    color: red;
}

.profile img {
    border-radius: 50%;
    box-shadow: 0px 0px 5px 1px grey;
}

.name {
    font-size: 20px;
    /* font-size: 16px; */
    font-weight: bold;
    padding-top: 20px;
    color: #000;
}

.job {
    font-size: 16px;
    font-weight: bold;
    padding-top: 10px;
}

.url{
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

.url hr {
    /* margin: 15px; */
    align-items: center;
    width: 60%;
}

.url a {
    color: #818181;
    display: block;
    font-size: 20px;
    /* font-size: 18px; */
    margin: 10px 0;
    padding: 10px 12px;
    text-decoration: none;
}

.url a:hover,
.url .active {
    background-color: #cee2f1;
    border-radius: 28px;
    color: #000;
    width: 65%;
}


.socialmediacontainer {
    /* width: 90px; */
    margin: 0 auto;
}

/* End */

/* Main */
.main {
    margin-top: 100px;
    margin-left: 29%;
    /* font-size: 28px; */
    font-size: 28px;
    padding: 0 10px;
    width: 70%;
    margin-bottom: 60px;
    transition: 0.8s;
}


h2 {
    text-align: center;
    color: #4070f4 !important;
}

.main h2 {
    color: #333;
    font-family: 'icomoon';
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 800;
}

.main .card {
    background-color: #fff;
    border-radius: 6px;
    /* box-shadow: 1px 1px 8px 0 grey; */
    height: auto;
    margin-bottom: 20px;
    padding: 20px 50px 20px 50px;
}

.main .card table {
    border: none;
    font-size: 16px;
    height: 270px;
    width: 80%;
}

.empty{
    overflow:auto;
}

.toggle-btn{
    position:fixed;
    top: 70px;
    /* margin-top: 300px; */
    left: 3%;
}

.toggle-btn span{
    width: 45px;
    height: 4px;
    background: #212529;
    display: block;
    margin-top: 4px;
}

.sidenav .toggle-btn{
    position: absolute;
    top: 30px;
    left: 330px;
}

hr {
    margin: 0 auto;
    width: 60%;
    /* margin-bottom: 15px; */
}

.edit {
    position: absolute;
    color: #e7e7e8;
    right: 14%;
}

.social-media {
    width: fit-content;
    margin: 0 auto;
}

@media (min-width:841px){
    .toggle-btn{
        display: none;
    }
    .lower-btn{
        display: none;
    }
}

@media (max-width: 840px){
    .toggle-btn{
        z-index: 5;
        position: relative;
    }
    .upper-btn{
        display: none;
    }
    .sidenav{
        /* margin-left: -300px; */
        display: none;
    }
    .sidenav.active{
        margin-left:120px ;
        /* top: 90px; */
        width: 40%;
        margin-top: 100px;
        transition: 0.8s;
        display: block;
        z-index: 5;
        margin-bottom: 100px;
        transition: 0.8;
    }
    .site-footer
    {
        margin-top: 1000px;
    }
    .main.hide{
        display: none;
        opacity: 0;
    }
    /* body{
        justify-content: center;
        align-items: center;
        display: flex;
    } */
    .main{
        width: 70%;
        margin-left: 15%;
    }
    .card{
        width: 100%;
        margin-left: 0;
    }
    .differentinput{
        overflow-wrap: break-word;
        flex-wrap: wrap;
    }
}

/* @media (min-width: 500px) and (max-width: 840px){
    .sidenav.active{
        margin-left:80px ;
        top: 90px;
        width: 40%;
        transition: 0.8s;
    }
} */

@media (max-width: 760px){
    .main .card{
        padding: 10px 20px;
    }
}

@media (max-width: 495px){
    .main{
        width: 80%;
    }
    .widgetCont{
        font-size: 16px;
    }
    .widgetHead{
        font-size: 18px;
    }
}

@media (min-width: 226px) and (max-width:494px){
    /* .main{
        margin-left: 20%;
    } */
    .toggle-btn{
        left: 15px;
    }
}

textarea{
    display: none;
}
*{
    box-sizing: border-box;
}

@media (max-width:460px){
    .sidenav.active{
        width: 60%;
        margin-left: 25%;
    }
}

@media (max-width:450px){
    .card{
        width: 100%;
    }
    .main .card{
        padding: 5px 10px;
    }
    .main{
        width: 90%;
        margin-left: 8%;
    }
    .toggle-btn span{
        width: 35px;
        margin-left: 15px;
    }.sidenav.active{
        width: 70%;
        margin-left: 20%;
    }
}

@media (max-width:350px){
    .main{
        margin-left: 4%;
        width: 95%;
    }
}
/* End */