/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.select-menu{
    width: 100%;
    margin: 140px auto;
    position: relative;
    min-height: 2.15rem;
    min-width: 14rem;
}

.select-menu .select-btn{
    display: flex;
    height: 2.45rem;
    background: #fff;
    padding: 8px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    border: solid #DADDE0 1px;
}

.select-btn svg{
    font-size: 25px;
    transition: 0.3s;
    width: fit-content;
    height: 90%;
    padding: 1px;
    padding-left: 7.5px;
}

.select-menu .options{
    position:absolute;
    padding: 10px;
    margin-top: 0px;
    border-radius: 8px;
    background: #fff;
    /* box-shadow: 0 0 3px rgba(0,0,0,0.1); */
    display: none;
    z-index: 10;
    width: 100%;
    border: 2px solid #333;
    padding: 5px 25px;
}

.vertical-line{
    height: 2.45rem;
    background-color: #DADDE0;
    width: 0.5px;
}

.sBtn-text{
    /* border-right: solid 2px #DADDE0; */
    flex: 1;
}

.select-menu.active .options{
    display: block;
}

.options .option{
    display: flex;
    height: 35px;
    cursor: pointer;
    padding: 0 10px;
    border-radius: 8px;
    align-items: center;
    background: #fff;
}

/* .options{
    height: 90%;
} */

.options .option:hover{
    background: #F3F4F6;
    border: solid #DADDE0 1px;
}

.option i{
    font-size: 25px;
    margin-right: 12px;
}
.option .option-text{
    font-size: 18px;
    color: #333;
}

.changec{
    color: #718096;
    height: 18px;
    width: 16px;
}