<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='./CSS/style1.css' rel='stylesheet'>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Login Page</title>
</head>

<body>
    <script src="./script.js"></script>
    <section class="container">
        <div class="form-login">
            <div class="form-content">
                <h1>
                    Login
                </h1>

                <form action="/Login" method ="post">
                    <div class="input-field">
                        <input type="email" class="input" name="Email" placeholder="Email">
                    </div>
                    <div class="input-field">
                        <input type="password" class="input" id="password-input" name="Password" placeholder="Password">
                        <i class='bx bx-hide eye-icon' id="eye-icon"></i>
                    </div>
                    <div class="form-button">
                    <button class="login-button" id="login-button">
                        Login
                    </button>
                </div>
                </form>

                <div class="form-link">
                    <a href="/forgotpass" class="forgot-password">
                        Forgot password?
                    </a>
                </div>
                <div class="no-account">
                    <p>Don't have an account? <a href="/Register" class="register">Register</a></p>
                </div>
            </div>
    </section>
</body>

</html>