/* Import Font Dancing Script */
@import url(https://fonts.googleapis.com/css?family=Dancing+Script);

* {
    margin: 0;
    font-family: Satoshi,"Satoshi Fallback";
}

body {
    /* background-color: #e7e7f1; */
    /* background-color: #4070f4; */
    background-color: #2047b43a;
    min-height: 100vh;
    height: max-content;
}

.container{
    flex-direction: row;
}


.widgetHead{
    font-size: 20px;
    /* font-size: 16px; */
    color: #000;
    font-weight:700;
}

.widgetCont{
    margin:10px 0 15px 0px;
    border: 1px solid gray;
    border-radius: 3px;
    padding: 8px;
    color: rgb(112, 76, 76);
    width: fit-content;
}

.empty{
    width: fit-content;
    padding: 15px;
    padding-left: 3px;
}

#number{
    margin:10px 0 15px 0px;
    border: 1px solid gray;
    border-radius: 3px;
    padding: 8px;
    color: gray;
    background-color: rgb(233, 236, 239);
    margin-right: 10px;
}

.spannumber{
    display: flex;
    
}

.smallcontainer{
    width: fit-content;
    margin-left: 50px;
}

.card{
    margin: 0.5rem 0 1rem;
    background-color: #fff;
    transition: box-shadow .25s;
    border-radius: 2px;
    font-size: 16px;
    /* font-size: 20px; */
    position: relative;
    /* color: #666; */
    line-height: 1.28;
    /* background-color: #e7e7f1; */
    width: 95%;
    /* padding-left: 8%;     */
}

.jobcard{
    display: flex;
    flex-wrap: wrap;
}

.card{
    border: 3px solid #DEE2E6;
}

/* .card:hover{
    transform: scale(1.04);
    transition: all 0.5s;
} */

.widgetTitle{
    color: #121224;
    font-weight: 500;
    font-size: 18px;
}

.identity{
    text-align: center;
    margin-top: 20%;
    margin-bottom: 2%;
    /* font-size: 20px; */
    font-size: 18px;
}

.navbar {
    background-color: #fff;
    /* background-color: #FA7C10; */
    height: 50px;
    padding: 0 90px;
    font-family: Satoshi,"Satoshi Fallback";
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 5;
    left: 0;
    right: 0;
    top: 0;
    /* box-shadow: 3px 5px 8px 0 grey; */
}


.otherpagelink{
    text-decoration: none;
    color: #000;
    font-size: 20px;
    margin: 0 16px;
    /* color: #fff; */
    border-radius: 25px;
    padding: 10px 13px;
}

.logo{
    font-weight: 900;
    margin-right: 50px;
}

.logout{
    border: 2px solid #000;
}

.navbar-top ul {
    float: right;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 18px 50px 0 40px;
}

.navbar-top ul li {
    float: left;
}

.navbar-top ul li a {
    color: #333;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
}

.icon-count {
    background-color: #ff0000;
    color: #fff;
    float: right;
    font-size: 11px;
    left: -25px;
    padding: 2px;
    position: relative;
}



/* End */

/* Sidenav */
.sidenav {
    background-color: #fff;
    color: #333;
    /* border-bottom-right-radius: 25px;
    border-top-right-radius: 25px; */
    border-radius: 25px;
    height: fit-content;
    margin-left: 4.5%;
    position: relative;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    top: 70px;
    width: 20%;
    margin-top: 10%;
    box-sizing: border-box;
    position: fixed;
    /* box-shadow: 3px 5px 8px 0 grey; */
    border: 3px solid #DEE2E6;
    padding-bottom: 20px;
}

.navbarhr{
    width: 50%;
    margin-top: 15px;
    margin-bottom: 15px;
}


.profile {
    margin-bottom: 20px;
    margin-top: 30px;    
    text-align: center;
}

.profile img {
    border-radius: 50%;
    box-shadow: 0px 0px 5px 1px grey;
}

.name {
    font-size: 20px;
    font-weight: bold;
    padding-top: 20px;
}

.job {
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
    padding-top: 10px;
    color: rgb(107, 96, 96);
}
.url, hr {
    text-align: center;
}

.url hr {
    margin: 5px auto;
    width: 60%;
}

.url a {
    color: #818181;
    display: block;
    /* font-size: 20px; */
    font-size: 16px;
    margin: 10px 0;
    padding: 6px 12px;
    text-decoration: none;
}

.url a:hover, .url .active {
    background-color: #e8f5ff;
    border-radius: 28px;
    color: #000;
    margin-left: 14%;
    width: 65%;
}
.socialmediacontainer{
    /* width: 90px; */
    /* margin: 0 auto; */
    /* margin-bottom: 30px; */
    padding: 0 10px;
}
/* End */

/* Main */
.main {
    margin-top: 80px;
    margin-left: 29%;
    /* font-size: 28px; */
    font-size: 20px;
    padding: 0 10px;
    width: 58%;
}

.mine{
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    line-height: 25px;
}

h2{
    text-align: Left;
}

.mainheading{
    padding-bottom: 5px;
}

.main h2 {
    color: #333;
    font-family: Satoshi,"Satoshi Fallback";
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 800;
}

.main .card {
    background-color: #fff;
    border-radius: 18px;
    /* box-shadow: 1px 1px 8px 0 grey; */
    height: auto;
    margin-bottom: 20px;
    padding: 20px 50px 20px 50px;
}

.main .card table {
    border: none;
    font-size: 16px;
    height: 270px;
    width: 80%;
}

hr{
    margin: 0 auto;
    width: 100%;
    margin-bottom: 15px;
}

.edit {
    position: absolute;
    color: #e7e7e8;
    right: 14%;
}

.social-media {
    width: fit-content;
    margin: 0 auto;
}
@media (min-width: 1024px){
    .sidenav{
        margin-top: 100px;
        height: 450px;
    }
}


@media (min-width: 768px) and (max-width: 1024px){
    .card{
        width: 70%;
    }
    .sidenav{   
        width: 30%;
        margin-top: 7%;
    }
    .main{
        margin-left: 38%;
    }
}

@media (min-width: 540px) and (max-width: 768px){
    .sidenav {   
        width: 70%;
        position: absolute;
        margin-left: 15%;
        background-color: darkgray;
        height: 330px;
        border-color: #fff;
        padding: 20px 50px;
    }
    .profile{
        margin-top: 0;
        margin-bottom: 10px;
    }
    .name{
        padding-top: 5px;
    }
    .identity{
        margin-top: 0%;
    }
    .smallcontainer{
        padding-left: 10px;
        padding-right: 10px;
    }
    .main{
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 500px;
        justify-content: center;
        align-items: center;
    }
    .card{
        width: 85%;
        margin-left: 0;
    }
    .smallcontainer{
        margin-left: 0;
        /* word-wrap: break-word; */
    }
    /* .empty{
        overflow-wrap:break-word;
        overflow:scroll;
        word-break: break-all;
    } */
}

@media (min-width: 425px) and (max-width: 539px){
    .sidenav {   
        width: 70%;
        position: absolute;
        margin-left: 15%;
        background-color: darkgray;
        border-color: #fff;
        padding: 20px 50px;
    }
    .identity{
        margin-top: 0%;
    }

    .main{
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 600px;
        justify-content: center;
        align-items: center;
    }
    .card{
        width: 78%;
        margin-left: 0;
    }
    .smallcontainer{
        margin-left: 25px;
        /* word-wrap: break-word; */
    }
    /* .empty{
        overflow-wrap:break-word;
        overflow:scroll;
        word-break: break-all;
    } */
}

@media (min-width: 375px) and (max-width: 424px){
    .sidenav {   
        width: 70%;
        position: absolute;
        margin-left: 15%;
        background-color: darkgray;
        border-color: #fff;
        padding: 20px 50px;
    }
    .identity{
        margin-top: 0%;
    }

    .main{
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 600px;
        justify-content: center;
        align-items: center;
    }
    .card{
        width: 79%;
        margin-left: 0;
        padding-left: 10px !important;
    }
    .smallcontainer{
        margin-left: 25px;
        /* word-wrap: break-word; */
    }
    /* .empty{
        overflow-wrap:break-word;
        overflow:scroll;
        word-break: break-all;
    } */
}

@media (max-width: 374px){
    .sidenav {   
        width: 70%;
        position: absolute;
        margin-left: 15%;
        background-color: darkgray;
        border-color: #fff;
        padding: 20px 50px;
    }
    .identity{
        margin-top: 0%;
    }

    .main{
        margin-left: 13%;
        margin-right: 15%;
        margin-top: 520px;
        justify-content: center;
        align-items: center;
    }
    .card{
        width: 90%;
        margin-left: 0;
        padding-left: 10px !important;
    }
    .smallcontainer{
        margin-left: 10px;
        /* word-wrap: break-word; */
    }
    .profile{
        margin-top: 0;
        margin-bottom: 0;
    }
}
.fa-facebook:hover {
    color: #4267b3 !important;
}

.fa-twitter:hover {
    color: #1da1f2 !important;
}

.fa-invision:hover {
    color: #f83263 !important;
}

.fa-github:hover {
    color: #161414 !important;
}

.fa-whatsapp:hover {
    color: #25d366 !important;
}

/* End */