/* Import Font Dancing Script */
@import url(https://fonts.googleapis.com/css?family=Dancing+Script);

* {
    margin: 0;
    font-family: Satoshi,"Satoshi Fallback";
}

/* Sidenav */
.sidenav {
    background-color: lightblue;
    color: #333;
    /* border-bottom-right-radius: 25px;
    border-top-right-radius: 25px; */
    border-radius: 25px;
    height: 68%;
    margin-left: 2%;
    position: absolute;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    top: 70px;
    width: 20%;
    margin-top: 5%;
    box-sizing: border-box;
    position: fixed;
    align-items: center;
    /* box-shadow: 3px 5px 8px 0 grey; */
}

/* .url{
    margin: 0 auto !important;
} */

/* .sidenav:hover{
    transform: scale(1.04);
    transition: all 0.5s;
} */

.profile {
    margin-bottom: 20px;
    margin-top: 12px;    
    text-align: center;
}

.profile img {
    border-radius: 50%;
    box-shadow: 0px 0px 5px 1px grey;
}

.name {
    font-size: 20px;
    /* font-size: 16px; */
    font-weight: bold;
    padding-top: 20px;
    color: #000;
}

.job {
    font-size: 16px;
    font-weight: bold;
    padding-top: 10px;
}

.url, hr {
    text-align: center;
}

.url hr {
    margin: 5px auto;
    width: 60%;
}

.url a {
    color: #818181;
    display: block;
    /* font-size: 20px; */
    font-size: 16px;
    margin: 10px 0;
    padding: 6px 12px;
    text-decoration: none;
}

.url a:hover, .url .active {
    background-color: #e8f5ff;
    border-radius: 28px;
    color: #000;
    margin-left: 14%;
    width: 65%;
}

#identity{
    text-align: center;
    margin-top: 12%;
    margin-bottom: 3%;
    /* font-size: 20px; */
    font-size: 16px;
}

.socialmediacontainer{
    /* width: 90px; */
    margin: 0 auto;
}
/* End */

/* Main */
.card{
    margin: 0.5rem 0 1rem;
    background-color: #fff;
    transition: box-shadow .25s;
    border-radius: 2px;
    font-size: 16px;
    /* font-size: 20px; */
    position: relative;
    /* color: #666; */
    line-height: 1.28;
    /* background-color: #e7e7f1; */
    width: 80%;
    /* padding-left: 8%;     */
}

.card:hover{
    transform: scale(1.04);
    transition: all 0.5s;
}

.main .card {
    background-color: #fff;
    border-radius: 18px;
    /* box-shadow: 1px 1px 8px 0 grey; */
    height: auto;
    margin-bottom: 20px;
    padding: 20px 50px 20px 50px;
}

.main .card table {
    border: none;
    font-size: 16px;
    height: 270px;
    width: 80%;
}

.social-media {
    width: fit-content;
    margin: 0 auto;
}

.fa-facebook:hover {
    color: #4267b3 !important;
}

.fa-twitter:hover {
    color: #1da1f2 !important;
}

.fa-invision:hover {
    color: #f83263 !important;
}

.fa-github:hover {
    color: #161414 !important;
}

.fa-whatsapp:hover {
    color: #25d366 !important;
}

/* End */