<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style_register.css">
  <title>Registration Form</title>
</head>

<body>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>

  <section class="containerr">
    <form class="form-registration" action="/register" method="post">
      <h1>
        Register
      </h1>


      <div class="mb-3">
        <label for="exampleFormControlInput1 title" class="form-label">Full Name</label>
        <input type="text" class="form-control" name="name" id="exampleFormControlInput1" placeholder="What is your name?" required>
      </div>


      <div class="mb-3">
        <label for="exampleInputEmail1 title" class="form-label">Email ID</label>
        <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp"
          placeholder="Tell us your Email ID" required>
        <div class="form-text">
          We will send you relevant jobs on this mail
        </div>
      </div>


      <div class="mb-3">
        <label for="exampleInputPassword1 title" class="form-label">Password</label>
        <input type="password" class="form-control" name="password" id="exampleInputPassword1"
          placeholder="Create a password for your account" required>
        <div id="exampleInputPassword1" class="form-text">
          Minimum 6 characters required
        </div>
      </div>

      <div class="mb-3">
        <label for="exampleInputPassword1 title" class="form-label">Confirm Password</label>
        <input type="password" class="form-control" name="cpassword" id="exampleInputPassword1"
          placeholder="Enter password again" required>
      </div>

      <div class="mb-3">
        <label for="validationDefaultUsername title" class="form-label">Mobile number</label>
        <div class="input-group">
          <span class="input-group-text" id="inputGroupPrepend2">+91</span>
          <input type="text" class="form-control" name="number" id="validationDefaultUsername" aria-describedby="inputGroupPrepend2"
            required placeholder="Mobile Number">
        </div>
        <div class="form-text">
          Recruiters will contact you on this number
        </div>
      </div>

      {{!-- <div class="Gender">
        <label for="" class="form-label title">Gender</label>
        <div class="checks">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
            <label class="form-check-label" for="flexRadioDefault1">
              Male
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
            <label class="form-check-label" for="flexRadioDefault2">
              Female
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
            <label class="form-check-label" for="flexRadioDefault3">
              Other
            </label>
          </div>
        </div>
      </div> --}}

      {{!-- <div class="Work-Status">
        <label for="" class="title">Work Status</label>
        <div class="radioWrap">
          <button class="work-exp">
            <div class="focusable optionWrap data" tabindex="0" data-val="exp">
              <div class="textWrap">
                <h6 class="main-3">I'm experienced</h6>
                <p class="main-2"> I have work experience <br>(excluding internships)</p>
              </div>
              <div class="iconWrap"><img src="//static.naukimg.com/s/7/104/assets/images/briefcase.bdc5fadf.svg"></div>
            </div>
          </button>
          <button class="work-exp">
            <div class="focusable optionWrap selected data" tabindex="0" data-val="fresher">
              <div class="textWrap">
                <h6 class="main-3">I'm a fresher</h6>
                <p class="main-2">I am a student/ Haven't worked <br> after graduation</p>
              </div>
              <div class="iconWrap"><img src="//static.naukimg.com/s/7/104/assets/images/schoolbag.a54cbf7a.svg"></div>
            </div>
          </button>
        </div>
      </div> --}}

      {{!-- <div class="mb-3 Resume">
        <label for="formFile" class="form-label title">Resume</label>
        <input class="form-control" type="file" id="formFile">
      </div>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
        <label class="form-check-label" for="flexCheckChecked">
          Send me important updates on<span><img src="images/Whatsapp-logo.svg" alt=""></span>WhatsApp
        </label>
      </div> --}}

      

      <button type="submit" class="btn btn-primary register-btn">Register</button>
    </form>
  </section>
</body>

</html>