<div class="site-wrap">
    <!-- .site-mobile-menu -->
    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body">
        <ul class="list-group">
          <li class="list-group-item"><a class="respon-nav" href="/companyhomepage" class="nav-link active">Home</a></li>
           <li class="list-group-item"><a class="respon-nav" href="/companyprofile">Profile</a></li>
          <li class="list-group-item"><a class="respon-nav" href="/companyjobpostlist">Job Postings</a></li>
          <li class="list-group-item"><a class="respon-nav" href="/newpost">Post a Job</a></li>
          <li class="list-group-item"><a class="respon-nav" href="/about">About us</a></li>
          <li class="list-group-item"><a class="respon-nav" href="/companylogout">Logout</a></li>
      </div>
    </div> 
    

    <!-- NAVBAR -->
    <header class="site-navbar mt-3">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="site-logo col-6"><a href="/companyhomepage">JobFiction</a></div>

          <nav class="mx-auto site-navigation">
            <ul class="site-menu d-none d-xl-block ml-0 pl-0">
              <li><a href="/companyhomepage" class="nav-link active">Home</a></li>
              <li><a href="/companyprofile">Profile</a></li>
              <li><a href="/companyjobpostlist">Job Postings</a></li>
              <li>
                <a href="/companyabout">About Us</a>
              </li>
              <li><a href="/companylogout">Logout</a></li>
            </ul>
          </nav>
          
          <div class="right-cta-menu text-right d-flex aligin-items-center col-6">
            <div class="ml-auto">
              <a href="/newpost" class="btn btn-outline-white border-width-2 d-none d-lg-inline-block"><span class="mr-2 icon-add"></span>Post a Job</a>
              <!-- <a href="index_login.html" class="btn btn-primary border-width-2 d-none d-lg-inline-block">Log In</a> -->
            </div>
            <a href="#" class="site-menu-toggle js-menu-toggle d-inline-block d-xl-none mt-lg-2 ml-3"><span class="icon-menu h3 m-0 p-0 mt-2"></span></a>
          </div>

        </div>
      </div>
    </header>