<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/style_companyregister.css">
  <title>Registration Form</title>
  <style>
    .img{
        width: 40%;
        height: width;
    }
  </style>
</head>

<body>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>

  <section class="containerr">
    <form class="form-registration" action="/companyregister" method="post" enctype="multipart/form-data" >

      <h1>
        Company Register
      </h1>

      <div class="mb-3">
        <label for="exampleFormControlInput1 employee_name" class="form-label">Your Name<sup
            class="mandatory_Filds">*</sup></label>
        <input type="text" class="form-control" name="name" id="exampleFormControlInput1" placeholder="What is your name?" required>
      </div>



      <div class="mb-3">
        <label for="validationDefaultUsername conatct_number" class="form-label">Contact Number<sup
            class="mandatory_Filds">*</sup></label>
        <div class="input-group">
          <span class="input-group-text" id="inputGroupPrepend2">+91</span>
          <input type="text" name="number" pattern="^(?=.*[0-9]).{10}$" class="form-control" id="validationDefaultUsername"
            aria-describedby="inputGroupPrepend2" required placeholder="Enter Contact Number">
        </div>
        <div class="form-text">
          Help us to contact you
        </div>
      </div>

      <div class="mb-3">
        <label for="exampleFormControlInput1 company_name" class="form-label">Company Name<sup
            class="mandatory_Filds">*</sup></label>
        <input type="text" name="companyname" class="form-control" id="Companyname" placeholder="What is your Company name?" required>
      </div>

      <div class="mb-3">
        <label for="exampleFormControlInput1 company_type" class="form-label">Company Type<sup
            class="mandatory_Filds">*</sup></label>
        <input type="text" name="companytype" class="form-control" placeholder="What is type of your Company" required>
      </div>

      <div class="mb-3">
        <label for="exampleFormControlInput1 company_location" class="form-label">Company Location<sup
            class="mandatory_Filds">*</sup></label>
        <input type="text" name="companylocation" class="form-control" id="Company_location" placeholder="What is the address of yout Company?"
          required>
      </div>

      <div class="mb-3">
        <label for="exampleFormControlInput1 employee_designation" class="form-label">Your Designation<sup
            class="mandatory_Filds">*</sup></label>
        <input type="text" name="yourdestination" class="form-control" id="Employee_designation"
          placeholder="What is your Designation in Company?" required>
      </div>

      <div class="mb-3">
        <label for="exampleInputEmail1 email" class="form-label">Email ID<sup class="mandatory_Filds">*</sup></label>
        <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
          placeholder="Tell us your official Email" required>
        <div class="form-text">
          We will contact you on this mail
        </div>
      </div>

      <div class="mb-3">
        <label for="exampleInputPassword1 password" class="form-label">Password<sup
            class="mandatory_Filds">*</sup></label>
        <input type="password" name="password"  pattern="^(?=.*[A-Z])(?=.*[!@#$`!@#$%^&*&*])(?=.*[0-9])(?=.*[a-z]).{6,}$"
          class="form-control" id="exampleInputPassword1" placeholder="Enter your new password" required>
        <div id="Password1" class="form-text">
          Password must contain at least 6 characters including UPPERCASE, lowercase, number & symbol
        </div>
      </div>

      <!-- New Updates Begin -->
      <div class="mb-3">
        <label for="exampleInputPassword1 confirm_Password" class="form-label">Confirm password<sup
            class="mandatory_Filds">*</sup></label>
        <input type="password" name="cpassword" pattern="^(?=.*[A-Z])(?=.*[!@#$`!@#$%^&*&*])(?=.*[0-9])(?=.*[a-z]).{6,}$"
          class="form-control" id="exampleInputPassword2" placeholder="Enter your confirm password">
        <div id="Password2" class="form-text">
        </div>
      </div>
      <!-- New Updates End -->

      {{!-- <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
        <label class="form-check-label" for="flexCheckChecked">
          I agree to receive important updates by email<span><img src="images/email_logo.svg" alt="No_photo"></span>
        </label>
      </div> --}}

        <div class="mb-3">
        <img src="" id= "abc" alt="choosen image" class ="img">
        </div>
        <input type="file" name="file" onchange="func(event)">

      <div class="btn-container">
        <button type="submit" class="btn btn-primary register-btn">Create Account</button>
      </div>

    </form>

  </section>

      <script>
        function func(event){


            var image =URL.createObjectURL(event.target.files[0]);

            document.getElementById("abc").src = image;

        }
    </script>

</body>

</html>