<!DOCTYPE html>
<html>
<head>
    <title>File Upload Example</title>
</head>
<body>
    <h1>File Upload Example</h1>
    <form action="/file/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" onchange="func(event)">
        <img src="http://localhost:3000/file/1699357970328-image-2023-03-19.png" id= "abc" alt="loading">
        <button type="submit">Upload File</button>
    </form>

    <script>
        function func(event){


            var image =URL.createObjectURL(event.target.files[0]);

            document.getElementById("abc").src = image;

        }
    </script>
</body>
</html>
