<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Description</title>

    <!-- Custom Css -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/4.9.95/css/materialdesignicons.css"
        rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"
        integrity="sha256-Zr3vByTlMGQhvMfgkQ5BtWRSKBGa2QlspKYJnkjZTmo=" crossorigin="anonymous"></script>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css"
        integrity="sha256-mLBIhmBvigTFWPSCtvdu6a76T+3Xyt+K571hupeFLg4=" crossorigin="anonymous" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/6c6d85d0b7.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style_jobDescription.css">

    <!-- FontAwesome 5 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
</head>

<body>
    <!-- Navbar top -->
    <div class="navbar">
        <span class="otherpagelinkleft">
            <a href="#" class="otherpagelink logo">JOB FICTION</a>
            <a href="#" class="otherpagelink">Jobs</a>
            <a href="#" class="otherpagelink">Companies</a>
            <a href="#" class="otherpagelink">Contact Us</a>
        </span>
        <span class="otherpagelinkright">
            <a href="#" class="otherpagelink logout">Logout</a>
        </span>
    </div>
    <!-- End -->

    <div class="list-grid-item mt-4 p-2">
        <div class="row">
            <div class="col-md-9">
                <div class="candidates-img float-left mr-4">
                    <img src="job_logo_3.jpg" alt="" class="img-fluid d-block rounded">
                </div>
                <div class="candidates-list-desc job-single-meta  pt-2">
                    <h5 class="mb-2 f-19"><a href="#" class="text-dark">Amazon</a></h5>
                    <ul class="list-inline mb-0">
                        <li class="list-inline-item mr-4">
                            <p class="text-muted f-15 mb-0"><i class="fa-solid fa-location-dot"></i> Pune</p>
                        </li>
                        <li class="list-inline-item mr-4">
                            <p class="text-muted f-15 mb-0"><i class="fa fa-briefcase" aria-hidden="true"></i> 0 - 1 Yrs
                            </p>
                        </li>
                        <li class="list-inline-item">
                            <p class="text-muted f-15 mb-0"><i class="fa-solid fa-indian-rupee-sign"></i> 50,000</p>
                        </li>
                    </ul>
                    <hr>
                    <span class="jobdescription">Ensure updation of product, system, process and policy knowledge . Adhere to rostered timing, scheduled shifts and activities. Technical Certification Qualification . Graduate / B Tech / BE degree / Diploma in Networking/ ElectronicsCCNA </span>
                    <p class="text-muted mb-2 f-14 days">1 Day Ago</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="candidates-list-fav-btn">
                    <div class="candidates-listing-btn mt-4 text-right">
                        <a href="profile.html" class="btn btn-outline btn-sm" target="_blank">Apply Now</a>
                        <span class="btn btn-outline btn-sm">
                            <i class="fa-regular fa-bookmark"></i> Save 
                            <i class="fa-solid fa-bookmark"></i> </span>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-lg-11 offset-lg-1">
                <div class="candidates-item-desc ">
                    <hr>
                    

                </div>
            </div>
        </div> -->
    </div>
    <!-- Main -->
    <!-- <div class="main"> -->
    <!-- <div class="card-body"> -->
    <div class="card mine">
        <section class="styles_job-desc-container__txpYf">
            <h2>Job description</h2>
            <ul>
                <!-- <div class="styles_JDC__dang-inner-html__h0K4t"> -->
                <li>
                    <p><strong>Role &amp; responsibilities</strong></p>
                </li>
                <p>Daily allocations</p>
                <p>reports</p>
                <p>MIS</p><br>
                <li>
                    <p><strong>Preferred candidate profile</strong> </p>
                </li>
                <p>Should be at least 12th pass or graduate with typing speed 40wpm+</p><br>
                <!-- </div> -->
                <li><strong>Standard</strong></li>
                <div class="styles_other-details__oEN4O">
                    <div class="styles_details__Y424J"><label>Role: </label><span> Data Entry / MIS<span
                                class="styles_comma__6l5nn"></span></span></div>
                    <hr>
                    <div class="styles_details__Y424J"><label>Industry Type: </label><span>NBFC<span
                                class="styles_comma__6l5nn"></span></span></div>
                    <hr>
                    <div class="styles_details__Y424J"><label>Department: </label><span>Customer
                            Success<span class="styles_comma__6l5nn"></span>Service &amp;
                            Operations<span class="styles_comma__6l5nn"></span></span></div>
                    <hr>
                    <div class="styles_details__Y424J"><label>Employment Type: </label><span><span>Full Time,
                                Permanent</span></span></div>
                    <hr>
                    <div class="styles_details__Y424J"><label>Role Category: </label><span><span>Back
                                Office</span></span>
                    </div>
                    <hr>
                </div>
                <div class="styles_education__KXFkO">
                    <strong>Education</strong>
                    <div class="styles_details__Y424J"><label>UG: </label><span class="">Any Graduate</span></div>
                </div>
                <hr>
                <div class="styles_key-skill__GIPn_">
                    <strong>Key Skills</strong>
                    <div>
                        <span>Typing Speed, English Typing, Communication Skills, Excel</span>
                    </div>
                </div>
            </ul>
        </section>
    </div>
</body>

</html>