<div class="site-wrap">
    <!-- .site-mobile-menu -->
    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body">
        <ul class="list-group">
          <li class="list-group-item"><a class="respon-nav" href="/home" class="nav-link active">Home</a></li>
          <li class="list-group-item"><a class="respon-nav" href="/jobs_1">Jobs</a></li>
          <li class="list-group-item"><a class="respon-nav" href="/recommendation">Recommendations</a></li>
          <li class="list-group-item"><a class="respon-nav" href="/blog">Blogs</a></li>
          <li class="list-group-item"><a class="respon-nav" href="/about">About us</a></li>
          <li class="list-group-item"><a class="respon-nav" href="/register">Register</a></li>
          <li class="list-group-item"><a class="respon-nav" href="/login">Log In</a></li>
        </ul>
      </div>
    </div> 
    

    <!-- NAVBAR -->
    <header class="site-navbar mt-3">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="site-logo col-6"><a href="/home">JOBfiction</a></div>

          <nav class="mx-auto site-navigation">
            <ul class="site-menu d-none d-xl-block ml-0 pl-0">
              <li><a href="/home" class="nav-link active">Home</a></li>
              <li><a href="/jobs_1">Jobs</a></li>
              <li>
                <a href="/recommendation  ">Recommendations</a>
              </li>
              <li><a href="/blog">Blogs</a></li>
              <li>
                <a href="/about">About Us</a>
              </li>
              <li class="d-lg-none"><a href="/register">Register</a></li>
              <li class="d-lg-none"><a href="/login">Log In</a></li>
            </ul>
          </nav>
          
          <div class="right-cta-menu text-right d-flex aligin-items-center col-6">
            <div class="ml-auto">
              {{#if logged}}
               <a href="logout" class="btn btn-primary border-width-2 d-none d-lg-inline-block">logout</a>
              {{else}}
              <a href="register" class="btn btn-outline-white border-width-2 d-none d-lg-inline-block"></span>Register</a>
              <a href="login" class="btn btn-primary border-width-2 d-none d-lg-inline-block">login</a>
               {{/if}}
            </div>
            <a href="#" class="site-menu-toggle js-menu-toggle d-inline-block d-xl-none mt-lg-2 ml-3"><span class="icon-menu h3 m-0 p-0 mt-2"></span></a>
          </div>

        </div>
      </div>
    </header>