<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>company home page </title>
</head>
<body>
    <script src = "script.js"></script>
    <section class="container">
        <div class="Company_home_page">
            <div class="form-content">                            
                <h1>
                    Company_home_page
                </h1>
                <form action="/Job_post" method="post" >

                    <div class="form-button">
                    <button class="Job_post" id="login-button" name="button1" value="Job_post">
                        Job_post
                    </button>
                    </div>
                </form>
                
                <form action="/Create_new_Jobpost" method="post">
                    <div class="form-button">
                    <button class="Create_new_Jobpost" id="login-button" name="button2" value="Create_new_Jobpost">
                        Create_new_Jobpost
                    </button>
                    </div>
                </form>
                     
                <form action="/Profile" method="post">
                    <div class="form-button">
                        <button class="Profile" id="login-button" name="button3" value="Profile">
                            Profile
                        </button>
                        </div>
                </form>
                                             
             
            </div>
            
    </section>
</body>
</html>


