<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job post</title>
</head>
<body>
      <h1>Create new Job Post</h1>

    <form action="/Create_new_Jobpost" method="post" >
        <input placeholder="Job_id" name="job_id" type="number">
        <br>
        <input placeholder="Job_title" name="job_title" type="text">
        <br>
        <input placeholder="Company_name" name="company_name" type="text">
        <br>
        <input placeholder="Salary" name="salary" type="number">
        <br>
        <input placeholder="Location" name="location" type="text">
        <br>
        <input placeholder="Work_mode" name="work_mode" type="text">
        <br>
        <input placeholder="Education" name="education" type="text">
        <br>
        <input placeholder="Experience" name="experience" type="text">
        <br>
        <button type="submit"> Post Job </button>

    </form>

          
</body>
</html>