<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style_login.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Login Page</title>
</head>


{{!-- <body>
    <script src = "js/script_login.js"></script>
    <section class="container">
        <div class="form-login">
            
            <div class="line"></div>
            <button class="login-options">
                <div>
                    <img src="images/google.png" alt="" class="google-icon">
                </div>
                <div id="google-text">
                    <a href="#" class="google-text">Login with Google</a>
                </div>
            </button>
        </div>
    </section>
</body> --}}


<body>
    <script src="js/script_login.js"></script>
    <section class="container">
        <div class="form-login">
            <div class="form-content">
                <h1>
                    Login
                </h1>

                <form action="/login" method="post">
                    <div class="input-field">
                        <input type="email" name="email" class="input" placeholder="Email">
                    </div>

                    <div class="input-field">
                        <input type="password" class="input" name="password" id="password-input" placeholder="Password">
                        <i class='bx bx-hide eye-icon' id="eye-icon"></i>
                    </div>

                    <div class="form-button">
                        <button class="login-button" type="submit" id="login-button">
                            Login
                        </button>
                    </div>

                    <div class="form-link">
                        <a href="/forgotpass" class="forgot-password">
                            Forgot password?
                        </a>
                    </div>

                    <div class="no-account">
                        <p>Don't have an account?
                            <a href="/register" class="register">
                                Register
                            </a>
                        </p>
                    </div>

                    <div class="line"></div>

                </form>

            </div>
            
            <button class="login-options">
                <div>
                    <img src="google.png" alt="" class="google-icon">
                </div>
                <div id="google-text">
                    <a href="#" class="google-text">Login with Google</a>
                </div>
            </button>
        </div>
    </section>
</body>
</html>
